In [1]:
#introduction to list datatypes
a list is a collection of items declared in a particular order.
classification:it is classified as an mutable datatype.
    #how to define list...?
    dbms=['oracle database','microsoftSQLserver','MySQL','postgreSQL']
    print(dbms)

SyntaxError: invalid syntax (4153763424.py, line 2)

In [2]:
print(dbms)

NameError: name 'dbms' is not defined

In [3]:
dbms=['oracle database','microsoftSQLserver','MySQL','postgreSQL']
print(dbms)

['oracle database', 'microsoftSQLserver', 'MySQL', 'postgreSQL']

In [4]:
#introduction to indexing
print(dbms[0])

oracle database

In [5]:
print(dbms[3])

postgreSQL

In [6]:
type(dbms[2])

str

In [7]:
#add mongoDB
dbms.append('mongoDB')
print(dbms)

['oracle database', 'microsoftSQLserver', 'MySQL', 'postgreSQL', 'mongoDB']

In [8]:
dbms.append(cassander)
print(dbms)

NameError: name 'cassander' is not defined

In [9]:
dbms.appent('cassander')

AttributeError: 'list' object has no attribute 'appent'

In [10]:
dbms.append('cassender')

In [11]:
print(dbms)

['oracle database', 'microsoftSQLserver', 'MySQL', 'postgreSQL', 'mongoDB', 'cassender']

In [12]:
#delete MySQL
y=dbms.pop[2]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [13]:
y=dbms.pop(2)
print(dbms)

['oracle database', 'microsoftSQLserver', 'postgreSQL', 'mongoDB', 'cassender']

In [14]:
print(y)

MySQL

In [15]:
type(y)

str

In [16]:
#delete postgreSQL
del dbms(2)

SyntaxError: cannot delete function call (237576256.py, line 2)

In [17]:
print(dbms)

['oracle database', 'microsoftSQLserver', 'postgreSQL', 'mongoDB', 'cassender']

In [18]:
del dbms(2)
print(dbms)

SyntaxError: cannot delete function call (4228122186.py, line 1)

In [19]:
del dbms[2]
print(dbms)

['oracle database', 'microsoftSQLserver', 'mongoDB', 'cassender']

In [20]:
#change the name oracle database to oracle
dbms[0]=oracle
print(dbms)

NameError: name 'oracle' is not defined

In [21]:
dbms[0]='oracle'
print(dbms)

['oracle', 'microsoftSQLserver', 'mongoDB', 'cassender']